.container{
    min-width: 51.25rem;
    max-width: 57.5rem;
    justify-content: center;
    align-items: center;
}
.mainBanner{
    width: 100%;         /* 부모 컨테이너의 너비에 맞게 크기를 조정 */
    height: auto; 
    border-radius: 1rem;
}