.movieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movieImage{
  width: 10.625rem;
  height: 14.125rem;
  border-radius: 0.313rem;
}
.movieCard {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  
}
.movieStats {
  display: flex; /* 수평 정렬 */
  justify-content: space-between; /* 요소 간의 여백 균등 분배 */
  align-items: center; /* 세로축 가운데 정렬 */
  margin-top: 8px; /* 상단 여백 추가 */
}

.button {
  width: 5rem;
  height: 2.5rem;
  font-size: 0.7rem; 
  margin: 5px;
  text-align: center;
  background-color: #000000;
  color: #84868D;
  border: none;
  border:  0.111rem solid #2e2f31;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #F09605;
}

.moviePage{
  text-align: center;
  margin-bottom: 1rem;
}
